@font-face {
font-family: "Myriad Pro Regular";
src: url("../fonts/Myriad Pro Regular.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: "ArialMT";
src: url("../fonts/ArialMT.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: "bebas-neue-bold";
src: url("../fonts/bebas-neue-bold.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

.navbar {
  padding-top: 70px;
  padding-bottom: 65px;
  padding-left: 0;
}

.navbar-nav > li {
  margin-right: 40px !important;
}

.nav-item > a:hover:hover {
  color: #ef5f60 !important;
}

.navbar-nav > li:last-child {
  margin-right: 30px !important;
}

.intro {
  background-color: #f1f4f5;
}

h1 {
  font: 38px Myriad Pro Regular, Arial, sans-serif;
  color: #4d4d4d;
  letter-spacing: 2px;
  padding-top: 65px;
}

.intro-text {
  font: 15px ArialMT, Arial, sans-serif;
  color: #808080;
  padding: 50px 0;
}

h3 {
  font: 21px Myriad Pro Regular, Arial, sans-serif;
  color: #4d4d4d;
  padding-top: 80px;
  padding-bottom: 30px;
  letter-spacing: 5px;
}

h3 > span {
  color: #ef5f60;
  padding-left: 15px;
}

.btn-portfolio > button {
  background-color: #ef5f60;
  border-radius: 0 !important;
  margin-top: 80px;
}

button > span {
  font: 20px bebas-neue-bold, Arial, sans-serif;
  color: #fff;
}

.portfolio-img {
  margin-bottom: 30px;
}

.btn-mail > button {
  background-color: #ef5f60;
  border-radius: 0 !important;
}

.btn-mail > button > span {
  padding: 15px;
}

.services-text {
  font: 21px Myriad Pro Regular, Arial, sans-serif;
  color: #4d4d4d;
  padding-top: 35px;
  padding-bottom: 20px;
}

.services-description {
  font: 15px ArialMT, Arial, sans-serif;
  color: #808080;
}

p.jornal-data {
  font: 17px Myriad Pro Regular, Arial, sans-serif;
  color: #c3c3c3;

}

.jornal-text {
  font: 21px bebas-neue-bold, Arial, sans-serif;
  color: #4d4d4d;

}

.jornal-description {
  font: 15px ArialMT, Arial, sans-serif;
  color: #808080;
}

.media {
  padding: 0 !important;
  margin: 50px 0;
}

.social > p {
  color: #bdbdbd;
  padding-top: 70px;
  padding-bottom: 30px;
}

.social-img > a {
  display: inline-block;
  padding-bottom: 60px;
  padding-left: 10px;
}

footer {
  background-color: #2d2d30;
}


/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  .navbar-nav > li {
  margin-right: 0px !important;
  }
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
}
